.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* dynamic form css start  */

.container {
  max-width: 1200px;
  margin: 0px auto;
}

.form-section .form h1 {
  font-size: 40px;
  text-transform: capitalize;
  color: #23a0a9;
  text-shadow: 1px 1px 2px red;
}

.form-section .form .heading , .form-section .form .form-data{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-section .form .heading .box, .form-section .form-data .div {
  width: 25%;
}

.form-section .form .heading .box button {
  margin: 0px 5px;
}

.form-section .form .heading .box .done{
  color: #23a0a9;
  background-color: white;
  border: 0px;
  border: 2px solid #23a0a9;
  padding: 8px 12px;
  border-radius: 5px;
}

.form-section .form .heading .box .done:focus {
  background-color: #23a0a9;
  color: white;
}

.form-section .form .heading .box .add {
  color: green;
  background-color: white;
  border: 0px;
  border: 2px solid green;
  padding: 8px 12px;
  border-radius: 5px;
}

.form-section .form .heading .box .add:focus {
  background-color: green;
  color: white;
}

.form-section .form-data .div .remove {
  color: red;
  background-color: white;
  border: 0px;
  border: 2px solid red;
  padding: 8px 12px;
  border-radius: 5px;
}

.form-section .form-data .div .remove:focus {
  background-color: red;
  color: white;
}

.form-section .form-data .div input {
  padding: 8px 12px;
  border: 2px solid #d39f7a ;
  border-radius: 5px;
  outline: none;
}

.form-section .form-data .div input:focus {
  border: 2px solid #c15000;
}

.form-section .form-data {
  padding: 10px 0px;
}

.form-section .form .heading {
  border-bottom: 2px solid gray;
}

.form-section .form .heading h2 {
  color: teal;
}


/* dynamic form css end */
